form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

mat-dialog-content {
  text-align: center;
}

mat-form-field {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  max-width: 200px;
}
