.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.card {
  width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.forgot-password {
  text-align: right;
  cursor: pointer;
}
.divider {
  width: 100%;
  border-bottom: 1px solid #ccc; /* You can adjust the color and thickness as needed */
  margin: 10px 0; /* Adjust margin as needed */
 
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}
