<div class="landing-page">
    <main>
      <section class="hero">
        <div class="hero-content">
          <h1>Welcome to CodeBin</h1>
          <p>A platform to store and share your code snippets.</p>
          <button mat-raised-button color="primary" (click)="passwordlessLogin()">Get Started</button>
        </div>
      </section>
      <section class="features">
        <h2>Features</h2>
        <div class="feature-list">
          <div class="feature">

            <mat-icon>code</mat-icon>
            <h3>Code Snippet Storage</h3>
            <p>Store your code snippets securely in the cloud.</p>
          
          </div>
          <div class="feature">
            <mat-icon>share</mat-icon>
            <h3>Code Sharing</h3>
            <p>Share your code snippets with others easily.</p>
          </div>
          <div class="feature">
            <mat-icon>edit</mat-icon>
            <h3>Code Editing</h3>
            <p>Edit your code snippets with syntax highlighting and auto-completion.</p>
          </div>
          <!-- Add more features as needed -->
        </div>
      </section>
  
      <section class="testimonials">
        <h2>Testimonials</h2>
        <div class="testimonial-list">
          <mat-card class="testimonial">
            <img mat-card-image src="" alt="Testimonial 1">
            <mat-card-content>
              <p>"CodeBin helped me organize my code snippets and share them with my team effortlessly. Highly recommended!"</p>
            </mat-card-content>
            <mat-card-actions>
              <p class="testimonial-author">- John Doe</p>
            </mat-card-actions>
          </mat-card>
  
          <mat-card class="testimonial">
            <img mat-card-image src="" alt="Testimonial 2">
            <mat-card-content>
              <p>"As a developer, I'm always looking for tools to streamline my workflow. CodeBin is a game-changer!"</p>
            </mat-card-content>
            <mat-card-actions>
              <p class="testimonial-author">- Jane Smith</p>
            </mat-card-actions>
          </mat-card>
          <!-- Add more testimonials as needed -->
        </div>
      </section>
    </main>
  </div>
  