<div class="login-box">
  <form class="form-container" (ngSubmit)="authservice.signInWithEmailLinkAuth(loginEmail.value)">
    <mat-form-field class="input-group">
      <input matInput type="email" id="email" name="email" placeholder="Enter your email" required #loginEmail>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign in With Email</button>
    <p class="sub-text">We'll email you a magic link for password-free sign-in.</p>
  </form>
  <mat-dialog-actions>
    <p class="password-option" [routerLink]="['/signup']" [mat-dialog-close]>Sign in with password instead.</p>
  </mat-dialog-actions>
  <div class="divider"></div>
  <div class="social-login">
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="authservice.signInWithGoogle()"[mat-dialog-close] >Sign in With Google</button>
    </mat-dialog-actions>
  </div>
</div>
