nav mat-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav mat-toolbar button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px; /* Adjust the space between buttons */
}

.icon-label {
  font-size: 12px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .icon-label {
      display: none; /* Hide text labels on small screens */
  }

  nav mat-toolbar button {
      margin: 5px; /* Adjust the space between buttons on small screens */
  }

  nav mat-toolbar button mat-icon {
      font-size: 18px; /* Decrease icon size for better visibility on small screens */
  }
}
