<nav>
    <mat-toolbar color="primary">
        <button mat-button routerLink="/" aria-label="Home"><mat-icon>home</mat-icon><span class="icon-label">Home</span></button>
        <span class="example-spacer"></span>
        <button mat-button *ngIf="!authService.isAuthenticated()" routerLink="/signup" aria-label="Sign in"><mat-icon>login</mat-icon><span class="icon-label">Sign in</span></button>
        <button mat-button *ngIf="authService.isAuthenticated()" routerLink="/codebin" aria-label="Create Snippet"><mat-icon>note_add</mat-icon><span class="icon-label">Create Snippet</span></button>
        <button mat-button *ngIf="authService.isAuthenticated()" routerLink="/snippet" aria-label="View Code Snippets"><mat-icon>visibility</mat-icon><span class="icon-label">View Snippets</span></button>
        <button mat-button *ngIf="authService.isAuthenticated()" (click)="authService.logout()" aria-label="Logout"><mat-icon>logout</mat-icon><span class="icon-label">Logout</span></button>
    </mat-toolbar>
</nav>
