nav mat-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav mat-toolbar button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.icon-label {
  font-size: 12px;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .icon-label {
      display: none;

  nav mat-toolbar button {
      flex-basis: 45%;

  nav mat-toolbar button:last-child {
      flex-basis: 100%;
  }
}
