/* Styling for the heading */
h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Centering the Add Code button */
.add-code-btn {
  display: block;
  margin: 0 auto 20px;
}


/* Styling for the snippet cards */
.snippet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.snippet-card {
  width: calc(33% - 20px);
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  background-color: #fff;
}

.snippet-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for the snippet title */
.mat-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Styling for the snippet code */
.snippet-content {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}


/* Styling for the No code found message */
.no-code-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.no-code-found h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .snippet-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .snippet-card {
    width: calc(100% - 20px);
  }
}
/* Styling for the "View full code" button */
.view-code-btn {
  margin-top: 10px; /* Add space below the button */
}
